[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
python-telegram-bot = "*"
td-ameritrade-python-api = "*"

[dev-packages]
black = "==21.5b1"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"

[requires]
python_version = "3.9"
