[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
attrs = "*"
python-telegram-bot = "*"
td-ameritrade-python-api = "*"
python-dotenv = "*"
pyyaml = "*"
types-pyyaml = "*"
sqlalchemy = "*"
py-vollib = "*"

[dev-packages]
bandit = "*"
black = "==21.12b0"
isort = "*"
flake8 = "*"
mypy = "*"
pytest = "*"
pytest-cov = "*"
pre-commit = "*"
